# Configuration for backup.sh
# Copy this file to `config.sh` and edit the values for your project.

# Path to WP-CLI (absolute path if needed)
wp="/opt/php/7.4/bin/php /var/www/u0000000/data/wp-cli.phar"
#wp="wp"

# Archive format: "tar" or "zip"
ARCHIVE_FORMAT="tar"

# Number of latest backups to keep
KEEP_BACKUPS=3

# ====== EXCLUDED FILES & FOLDERS ======
EXCLUDES=(
    "wp-backups"              # backups directory
    "wp-backup-script"        # script folder
    "wp-content/cache"        # cache
    "wp-content/uploads/*-*[0-9]x[0-9]*.*"  # resized thumbnails
    "wp-content/uploads/*-scaled.*"        # scaled images
)